<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<nav id="nav">

    <ul class="links">
    {{ range .Site.Menus.main }}
    <li>
    <a href="{{ .URL }}" title="{{ .Title }}">
      {{- .Name -}}
      {{- with .Page -}}
      {{- end -}}
    </a>
    </li>
    {{ end }}
    </ul>

     {{ with $data.social }}
    <ul class="icons">
        {{ with .twitter }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        {{ end }}
        {{ with .facebook }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        {{ end }}
        {{ with .instagram }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        {{ end }}
        {{ with .linkedin }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        {{ end }}
        {{ with .github }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
        {{ end }}
        {{ with .youtube }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
        {{ end }}
        {{ with .soundcloud }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-soundcloud"><span class="label">Soundcloud</span></a></li>
        {{ end }}
        {{ with .spotify }}
        <li><a href="{{ . }}" target="_blank" class="icon fa-spotify"><span class="label">Spotify</span></a></li>
        {{ end }}
    </ul>
    {{ end }}

</nav>

