{{ partial "htmlhead" . }}
    <body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

        <!-- Wrapper -->
            <div id="wrapper">

                {{ partial "header" . }}
                {{ partial "nav" . }}

                <!-- Main -->
                    <div id="main">

                        <section class="posts">

                            <article>
                                <header>
                                    <h2>Merchandising España</h2>
                                </header>
                                <a href="#" class="image fit"><img src="#" alt="" /></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">Merchan españa</a></li>
                                </ul>
                            </article>


                            <article>
                                <header>
                                    <h2>Merchandising Worldwide</h2>
                                </header>
                                <a href="#" class="image fit"><img src="#" alt="" /></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                     
                                <ul class="actions">
                                    <li><a href="#" class="button">Merchan españa</a></li>
                                </ul>
                            </article>

                        </section>

                    </div>

                    {{ partial "footer/index" . }}
                    {{ partial "copyright" . }}

            </div>
            {{ template "_internal/google_analytics.html" . }}
            {{ partial "scripts/index" . }}
    </body>
</html>
